<div class="col-lg-6 col-md-12 author-archive-card-wrap">
    <a href="{author.url}" class="author-archive-card">
        <div class="item-card-inner text-center">
            <div class="avatar-wrap loading-bg">
                <img src="{author.img}" alt="{author.name}" class="avatar">
            </div>
            <div class="author-info">
                <div class="author-name h3">{author.name}</div>
                <div class="bio">{author.minibio}</div>
            </div>
        </div>
    </a>
</div>
