<div class="col-12">
    <article class="post post-style-two flex">
        <a href="{{post_url}}" aria-label="{{title}}">
            <div class="post-img-wrap loading-bg">
                <img class="post-img" src="{{image}}" alt="{{title}}">
            </div>
        </a>
        <div class="post-content">
            <div class="tag-wrap">
                <a href="{{category_url}}" class="tag tag-small tc-nature">{{category_name}}</a>
            </div>
            <h2 class="post-title h4">
                <a href="{{post_url}}">{{title}}</a>
            </h2>
            <div class="post-meta">
                <time class="pub-date">{{post_date}}</time>
                <span class="read-time">{{post_readtime}}</span>
            </div>
        </div>
    </article>
</div>
