<div class="col-md-6">
    <div class="row section-style-two clearfix">
        <div class="col-12">
            <div class="section-header flex">
                <h3 class="section-title text-upper tc-nature">{{category_title}}</h3>
                <a href="{{category_url}}" class="text-upper section-header-link"></a>
            </div>
        </div>
        <div class="col-12">
            <article class="post post-style-one post-large">
                <a href="{{post_url}}" aria-label="{{post_title}}">
                    <div class="post-img-wrap loading-bg">
                        <img class="post-img entered" src="{{post_featured_image}}" alt="{{post_title}}">
                    </div>
                </a>
                <div class="post-content">
                    <h2 class="post-title h3">
                        <a href="{{post_url}}">{{post_title}}</a>
                    </h2>
                    <div class="post-meta">
                        <time class="pub-date">{{post_date}}</time>
                        <span class="read-time">{{post_readtime}} {{readtime}}</span>
                    </div>
                </div>
            </article>
        </div>
        {{items}}
    </div>
</div>
