<main class="main-content-area">
    <div class="container">
        <div class="row">
            {{top_posts}}
            {{categories}}
            <div class="col-12">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="section-header flex">
                            <h3 class="section-title text-upper tc-fashion">{{popular_categories_title}}</h3>
                        </div>
                    </div>
                    {{popular_categories}}
                </div>
            </div>
        </div>
    </div>
</main>
