<div class="col-lg-4 col-sm-6 f-left">
    <article class="post post-compact has-img">
        <div class="post-img-wrap loading-bg">
            <img class="post-img lazy entered loaded" src="{{image}}" alt="{{title}}">
        </div>
        <a href="{{post_url}}" aria-label="{{title}}" class="overlay-link"></a>
        <div class="post-content">
            <div class="tag-wrap">
                <a href="{{category_url}}" class="tag tag-pill tc-nature">{{category_name}}</a>
            </div>
            <h2 class="post-title h4">{{title}}</h2>
            <div class="post-meta">
                <time class="pub-date">{{post_date}}</time>
                <span class="read-time">{{post_readtime}}</span>
            </div>
        </div>
    </article>
</div>
