<!DOCTYPE html>
<html lang="{{lang}}" data-theme="light">
    <head>
        <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
        <script src="https://js.publinker.com/wrapper.v2.moruviral.com.js"></script>
        <script>
            (function() {
                document.addEventListener('DOMContentLoaded', function () {
                    // Function to check if the user is on a desktop device based on window width
                    function isDesktop() {
                        return window.innerWidth >= 1024; // Adjust this value based on your breakpoint
                    }

                    // Function to update ad divs to desktop versions
                    function updateAdDivsForDesktop() {
                        var adDivs = document.querySelectorAll('.publinker-ad');

                        // Desktop ad configurations in sequence
                        var desktopAds = [
                            {
                                publinkerCode: 'moruviral_desktop_top_{source}',
                                publinkerSizes: '[[300,250],[336,380],[728,90]]',
                            },
                            {
                                publinkerCode: 'moruviral_desktop_mid1_{source}',
                                publinkerSizes: '[[300,250],[336,380]]',
                            },
                            {
                                publinkerCode: 'moruviral_desktop_mid2_{source}',
                                publinkerSizes: '[[300,250],[336,380]]',
                            },
                        ];

                        // Update each ad div with the desktop configuration
                        adDivs.forEach(function (adDiv, index) {
                            if (desktopAds[index]) {
                                adDiv.setAttribute('publinker-code', desktopAds[index].publinkerCode);
                                adDiv.setAttribute('publinker-sizes', desktopAds[index].publinkerSizes);
                            }
                        });
                    }

                    // Initial check when the page loads
                    if (isDesktop()) {
                        updateAdDivsForDesktop();
                    }

                    // Optional: Update ads on window resize
                    window.addEventListener('resize', function () {
                        if (isDesktop()) {
                            updateAdDivsForDesktop();
                        } else {
                            // Optionally, you can reset to mobile ads if needed
                            // For example, you could implement a function updateAdDivsForMobile()
                        }
                    });
                });
            })();
        </script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://cdn.moruviral.com" crossorigin>
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{seo_title}}</title>
        <link
            rel="stylesheet"
            href="/public/css/index.css"
            media="print"
            onload="this.onload=null;this.removeAttribute('media');"
            fetchpriority="high"
        >
        <!-- no-JS fallback -->
        <noscript>
            <link rel="stylesheet" href="/public/css/index.css">
        </noscript>
        <!-- async CSS (optionally increase loading priority with fetchpriority="high") -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap"
            media="print"
            onload="this.onload=null;this.removeAttribute('media');"
            fetchpriority="high"
        >
        <!-- no-JS fallback -->
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap">
        </noscript>
        <link rel="canonical" href="{{seo_url}}">
        <meta name="description" content="{{seo_description}}">
        <meta property="og:title" content="{{seo_title}}">
        <meta property="og:description" content="{{seo_description}}">
        <meta property="og:image" content="{{seo_image}}">
        <meta property="og:url" content="{{seo_url}}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="{{lang}}">
        <!-- custom headers -->
    </head>
    <body class="post-template tag-nature">
        <div class="site-wrap">
            <header class="site-header">
                <!-- header middle -->
                <div class="header-middle">
                    <div class="container">
                        <div class="">
                            <div class="">
                                <a
                                    class="menu-icon nav-icon custom-header"
                                    id="js-menu-toggle"
                                    href="javascript:;"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </a>
                                <div class="logo">
                                    <a href="{{home_url}}" class="logo-image theme-light-logo">
                                        <img src="/public/img/logo.svg" height="100">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="nav-bar flex">
                                    <nav class="nav-left">
                                        <ul class="nav-list nav-list-primary text-upper no-style-list">
                                            {{menu}}
                                            <li class="more-link">
                                                <a href="javascript:">
                                                    More
                                                    <svg
                                                        width="24"
                                                        height="24"
                                                        viewBox="0 0 24 24"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <path d="M12 18c-.39 0-.78-.132-1.097-.398L.617 9.03a1.713 1.713 0 112.194-2.633l9.208 7.673 9.192-7.397a1.715 1.715 0 012.15 2.671l-10.286 8.277A1.714 1.714 0 0112 18"/>
                                                    </svg>
                                                </a>
                                                <ul class="dropdown"></ul>
                                            </li>
                                        </ul>
                                        <a
                                            class="menu-icon nav-icon"
                                            id="js-menu-toggle"
                                            href="javascript:;"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-nav-wrap" id="mobile-nav">
                    <ul class="no-style-list mobile-nav">
                        {{menu}}
                    </ul>
                </div>
                <div class="backdrop" id="backdrop"></div>
            </header>
